<html>
<head>
  <title>Daisy the robot dog</title>
</head>
<body>
<div class="container custom-background">
  <section class="section-dog">
 <body class="custom-background">
  <div class="flex-container" style="padding: 0px;"> 
       <%= render 'form' %>
     </div>
   </div>
 </body>
</section>
</html>
      













