<!DOCTYPE html>
<html lang="en">
<head>
  <title>Daisy the robot dog</title>
  <%= favicon_link_tag asset_path("favicon.ico") %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="custom-background">
  <div class="container custom-background">
    <section class="section-dog">
      <div class="flex-container" style="padding: 0px;"> 
        <%= render 'form' %>
      </div>
    </section>
  </div>
</body>
</html>












