<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 custom-footer"> 
     <p class="col-md-4 mb-0 text-muted">© 2023 Daisy the robot dog</p>
     <ul class="nav col-md-4 justify-content-end">
         <li class="nav-item">
          <%= link_to "GitHub", 'https://github.com/bwetzel2016/Dog-App', class: "nav-link px-2 text-muted" %>
        </li>
        <li class="nav-item">
          <%= link_to "About Us", home_about_path, class: "nav-link px-2 text-muted" %>
        </li>
     </ul>
</footer>