<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
<%= link_to "Dog App", root_path, class:"navbar-brand" %>



  
    <ul class="navbar-nav">
      <li class="nav-item active">

    <%= link_to "Appoitments", posts_path, class: "nav-link" %>
    </li>
       
      <li class="nav-item">
      <%= link_to "About Us", home_about_path, class: "nav-link" %>
      </li>
   
    <li class="nav-item">
        <%= link_to 'Github', 'https://github.com/bwetzel2016/Dog-App',
    class: "nav-link" %>
    
    </li>
      
        
      
    </ul>
  </div>
</nav>