<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>	
</head>
<body>

	
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-4">About Us</h1>
			<p class="lead">We are Software Engineers that have a passion for web development and robotics. We have combined robotics with the Go1 EDU robot dog to create a stunning web application that will connect and use the robot as a receptionist dog.</p>
		</div>
	</div>
	<div class="team-section">
		<section class="section-dog">
 		<body class="custom-background">
		<div class="card">	
			<h3>Luciano Scarpaci</h3>
			<p>Email: lscarpaci2017@fau.edu</p>
			<a href="https://www.linkedin.com/in/lscarpaci" class="btn btn-primary" style="color: white; width: 35%;">LinkedIn</a>
			<style>
			    .card {
			        background-color: #95B9C7;
			       	border: none; 
			    }
			</style>
		
			<h3>Brandon Wetzel</h3>
			<p>Email: bwetzel2016@fau.edu</p>
			<a href="https://www.linkedin.com/in/bwetzel" class="btn btn-primary" style="color: white; width: 35%;">LinkedIn</a>	
		</div>
	</div>

</body>
</html>