</head>
<section class="section-dog">
 <body class="custom-background">
	<div class="u-center-text u-margin-bottom-big">
		<h2 class="heading-secondary">
			Autonomous Receptionist Robot Dog
		</h2>
	</div>

	
	<div class="row">
		<div class="col-1-of-3">
			<div class="card">
				


Luciano Scarpaci 
@dlscarpaci2017@fau.edu  <br/>
Brandon Wetzel <br/>
@bwetzel2016@fau.edu