<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Receptionist Robot Dog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<section class="section-dog">
		<div class="u-center-text u-margin-bottom-big">
			<h2 class="heading-secondary">
				Autonomous Receptionist Robot Dog
			</h2>
		</div>

		<div class="row">
			<div class="col-1-of-3">
				<div class="card">
					<div class="card__side card__side--front">
						<div class="card__picture card__picture--1">
							&nbsp;
						</div>
						<div class="card__heading">
							<span class="card__heading-span card__heading-span--1">Movement Subsystem</span>
						</div>
						<div class="card__details">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">High Level Control</li>
								<li class="list-group-item">Strong Leg Joints</li>
								<li class="list-group-item">Dynamic Balancing </li>
							</ul>
						</div>
					</div>
					<div class="card__side card__side--back">
						<div class="card__picture card__picture--2">
							&nbsp;
						</div>
						<div class="card__heading">
							More details
						</div>
						<div class="card__details">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">An open source robot with programmability in JavaScript or Python.</li>
								<li class="list-group-item">The robot has strong leg joints that provide a stable foundation. It has tested holding over 50 lbs.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>


	</section>
</html>                            