<div class="card">
  <div class="card-header">
  <h4>Editing Post</h4>
  </div>
  
  <br/><%= render 'form', post: @post %>

  <div class="edit-and-back-button">
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-dark" %> 
    <%= link_to 'Back', posts_path, class: "btn btn-danger" %>
  </div>
  
</div>












