<html lang="en">
<head>
  <title>Daisy the robot dog</title>
  <%= favicon_link_tag asset_path("favicon.ico") %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="custom-background">
  <div class="flex-container">
    <div class="card" style="width: 25rem;">
      <h5 class="card-header text-center text-black">
        New Appointment
      </h5>
      <%= render "form", post: @post %> 
    </div>
  </div>
</body>
</html>


