// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.section-dog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25rem 0 20rem 0;
  margin-top: -20rem;
}

.section-dog-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25rem 0 20rem 0;
  margin-top: -10rem;
}

.section-dog-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25rem 0 20rem 0;
  margin-top: -45rem;
}

.edit-and-back-button {
	display: flex;
	gap: 1rem;
}

.row {                                                                                                       
                display: grid;                                                                                       
                grid-template-columns: repeat(3, 1fr);                                                               
                grid-column-gap: 20px; /* Adjust the gap size as needed */                                           
        }

.card {                                                                                                              
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
        height: 30rem;
        width: 20rem;

        &__side {
        	
        	                                                                                               
        	                                                                                                
        	transition: transform 0.3s ease;
        	position: absolute;
        	top: 0;
        	left: 0;
        	height: 30rem;
        	width: 20rem;
        	backface-visibility: hidden;
        	border-radius: 3px;
        	box-shadow: 0 1.5rem 4rem rgba(#000000, .15);

        	&--front {
				background-color: #fff;
			}

			&--back {
	
				transform: rotateY(180deg);
				
				
			}

        }

        &:hover &__side--front {
        	transform: rotateY(-180deg);
        }

        &:hover &__side--back {
        	transform: rotateY(0);
        }

        &__picture {
        	background-size: cover;
        	height: 18rem;
        	background-blend-mode: saturation;
        	&--1 {
        		background-image: linear-gradient(to right bottom, #2998FF, #5643FA), url(./75.jpeg);
        	}

        	&--2 {
        		background-image: linear-gradient(to right bottom, #2998FF, #5643FA), url(./76.jpeg);
        	}

        }

		&__heading {
			font-size: 1.8rem;
			font-weight: 300;
			text-transform: uppercase;
			text-align: right;
			color: #000;
			position: absolute;
			top: 12rem;
			right: 2rem;
			width: 75%;
		}

		&__heading-span {
			padding: 0.9rem 2.5rem;
			&--1 {
        		background-image: linear-gradient(to right bottom, rgba(#2998FF, .85), rgba(#5643FA, .85));
			}
			&--2 {
        		background-image: linear-gradient(to right bottom, rgba(#2998FF, .85), rgba(#5643FA, .85));
			} 
		}
                                                                                     
}  
.controller {
  width: 450px;
  height: 250px;
  background-color: #8f8f8f;
  border-radius: 34%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.controller-launch {
  width: 300px;
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.y, .x, .a, .b {
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 100%;
  position: absolute;
}

.l, .r, .u, .d {
  width: 50px;
  height: 50px;
  background-color: #000000;
  border-radius: 100%;
  position: absolute;
}


.y {
  top: 47.5px;
  left: 67.5px;
}

.x {
  top: 95px;
  left: 20px;
}

.a {
  top: 95px;
  left: 115px;
}

.b {
  top: 142.5px;
  left: 67.5px;
}

.l {
  top: 95px;
  left: 285px;
}

.r {
  top: 95px;
  left: 380px;
}

.u {
  top: 47.5px;
  left: 330px; 
}

.d {
  top: 142.5px;
  left: 330px;
}

.z {
  top: 85px;
  left: 52.5px;
}

.c {
  top: 85px;
  left: 202.5px;
}               