// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.section-dog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25rem 0 20rem 0;
  margin-top: -20rem;
}

.section-dog-2 {
  display: flex;
  
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25rem 0 20rem 0;
  margin-top: -10rem;
}



.edit-and-back-button {
  display: flex;
  gap: 1rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  /* Adjust the gap size as needed */
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  width: 20rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 30rem;
    width: 20rem;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(#95B9C7, .15);

    &--front {
      background-color: #fff;
    }
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #000;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 0.9rem 2.5rem;
  }

  &__picture {
    background-size: cover;
    height: 19rem;
    background-image: url(./image_4.png);
  }

  &__details {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
  }

}

.controller {
  width: 450px;
  height: 250px;
  background-color: #B8B1AD;
  
  border-radius: 34%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #B8B1AD;;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.heading-secondary{
margin-top: -180px;
margin-bottom: 0.5rem;
font-weight: 350;
line-height: 1.2;

}


.y,
.x,
.a,
.b {
  width: 50px;
  height: 50px;
  background-color: #B8B1AD;
  border-radius: 100%;
  position: absolute;
}

.l,
.r,
.u,
.d {
  width: 50px;
  height: 50px;
  background-color: #B8B1AD;
  border-radius: 100%;
  position: absolute;
}


.c,
.z {
  width: 50px;
  height: 50px;
  background-color: #B8B1AD;
  border-radius: 50%;
  position: absolute;
}

button#execute-z-button.btn.btn-danger {

  font-size: 8px;
}

button#execute-c-button.triangle-button {

  font-size: 8px;
}


.y {
  top: 47.5px;
  left: 67.5px;
}

.x {
  top: 95px;
  left: 20px;
}

.a {
  top: 95px;
  left: 115px;
}

.b {
  top: 142.5px;
  left: 67.5px;
}

.l {
  top: 95px;
  left: 285px;
}

.r {
  top: 95px;
  left: 380px;
}

.u {
  top: 47.5px;
  left: 330px;
}

.d {
  top: 142.5px;
  left: 330px;
}

.z {
  top: 140px;
  left: 165px;
}


.c {
  top: 140px;
  
  left: 245.5px;
}

.btn.btn-success,
.btn.btn-info,
.btn.btn-primary {
  color: black;
}


.triangle-button {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 18px 18px 45.6px;
  border-color: transparent transparent transparent #333333;
  background-color: #B8B1AD;;
  cursor: pointer;
  outline: none;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 11%;
  transform: translate(-50%, -50%);
  color: white;
}
.custom-background {
  background-color: #95B9C7; 
}
